<div class="hidden logo md:block">
  <a class="flex items-center space-x-2 transition duration-300 ease-in-out hover:opacity-70" href="{{ site.baseurl }}">
    {% if site.logo.logo_desktop_image %}
      <svg class="w-8 h-8 text-white sm:w-8 sm:h-8 filter invert" viewBox="0 0 269 183" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path data-aos="fade" data-aos-easing="ease-in-back" data-aos-delay="0" fill-rule="evenodd" clip-rule="evenodd" d="M107.6 0.0927734L0 182.093H53.8L106.656 91.5643L160.456 182.093H214.256L187.828 136.829L107.6 0.0927734Z" fill="currentColor"/>
        <path data-aos="fade" data-aos-easing="ease-in-back" data-aos-delay="400" fill-rule="evenodd" clip-rule="evenodd" d="M162.344 0.0927734L215.2 0.0927734L269 92.5073L241.628 136.829L162.344 0.0927734Z" fill="currentColor"/>
        <path data-aos="fade" data-aos-easing="ease-in-back" data-aos-delay="600" fill-rule="evenodd" clip-rule="evenodd" d="M214.256 182.093L241.628 136.829L216.144 91.5645L187.828 137.772L214.256 182.093Z" fill="currentColor" fill-opacity="0.8"/>
      </svg>
    {% endif %}
    {% if site.logo.logo_desktop_text %}
    <h2 class="font-sans text-2xl font-semibold">{{ site.logo.logo_desktop_text }}</h2>
    {% endif %}
  </a>
</div>
<div class="block logo-mobile md:hidden">
  <a class="flex items-center space-x-2 transition duration-300 ease-in-out hover:opacity-70" href="{{ site.baseurl }}">
    {% if site.logo.logo_mobile_image %}
      <svg class="w-8 h-8 text-white sm:w-8 sm:h-8 filter invert" viewBox="0 0 269 183" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path data-aos="fade" data-aos-easing="ease-in-back" data-aos-delay="0" fill-rule="evenodd" clip-rule="evenodd" d="M107.6 0.0927734L0 182.093H53.8L106.656 91.5643L160.456 182.093H214.256L187.828 136.829L107.6 0.0927734Z" fill="currentColor"/>
        <path data-aos="fade" data-aos-easing="ease-in-back" data-aos-delay="300" fill-rule="evenodd" clip-rule="evenodd" d="M162.344 0.0927734L215.2 0.0927734L269 92.5073L241.628 136.829L162.344 0.0927734Z" fill="currentColor"/>
        <path data-aos="fade" data-aos-easing="ease-in-back" data-aos-delay="500" fill-rule="evenodd" clip-rule="evenodd" d="M214.256 182.093L241.628 136.829L216.144 91.5645L187.828 137.772L214.256 182.093Z" fill="currentColor" fill-opacity="0.8"/>
      </svg>
    {% endif %}
    {% if site.logo.logo_mobile_text %}
    <h2 data-aos="fade" data-aos-easing="ease-in-back" data-aos-delay="700"  class="font-sans text-xl font-semibold">{{ site.logo.logo_desktop_text }}</h2>
    {% endif %}
  </a>
</div>